<div class='nav__ID'>
    <span>Screening</span>
    <ul>
        <li><a class="small"  href=?/cl-s-date-data>Session Date</a></li>
        <li><a class="small"  href=?/cl-s-anthropometry-data>Anthropometry (What to measure?)</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-s-actigraphy-data>Actigraphy</a></li>
        <li><a class="small"  href=?/cl-s-psg300-data>Diagnostic Sleep PSG300 Report</a></li>
        <li><a class="small"  href=?/cl-s-sleep-scoring-data>Sleep Scoring File (Hypnogram) (File Upload?)</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-s-ess-data>ECG Report Data Upload (File Upload?)</a><mark class=text-danger>X</mark></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
    <span>Unscheduled</span>
    <ul>
        <li><a class="small"   href=?/cl-concom-medication-data>Concomitant Medication</a></li>
        <li><a class="small"   href=?/cl-adverse-event-data>Adverse Event</a></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>

</div>