<div class='nav__ID'><div class='nav__ID'>
    <span>Session 2 Day 1 PVT, KDT, KSS</span>
    <ul>
        <li>1 <a class="small"  href=?/cl-s2-d1-t1-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>1 <a class="small"  href=?/cl-s2-d1-t1-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>1 <a class="small"  href=?/cl-s2-d1-t1-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>2 <a class="small"  href=?/cl-s2-d1-t2-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>2 <a class="small"  href=?/cl-s2-d1-t2-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>2 <a class="small"  href=?/cl-s2-d1-t2-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>3 <a class="small"  href=?/cl-s2-d1-t3-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>3 <a class="small"  href=?/cl-s2-d1-t3-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>3 <a class="small"  href=?/cl-s2-d1-t3-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>4 <a class="small"  href=?/cl-s2-d1-t4-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>4 <a class="small"  href=?/cl-s2-d1-t4-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>4 <a class="small"  href=?/cl-s2-d1-t4-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>5 <a class="small"  href=?/cl-s2-d1-t5-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>5 <a class="small"  href=?/cl-s2-d1-t5-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>5 <a class="small"  href=?/cl-s2-d1-t5-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>6 <a class="small"  href=?/cl-s2-d1-t6-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>6 <a class="small"  href=?/cl-s2-d1-t6-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>6 <a class="small"  href=?/cl-s2-d1-t6-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>7 <a class="small"  href=?/cl-s2-d1-t7-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>7 <a class="small"  href=?/cl-s2-d1-t7-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>7 <a class="small"  href=?/cl-s2-d1-t7-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>8 <a class="small"  href=?/cl-s2-d1-t8-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>8 <a class="small"  href=?/cl-s2-d1-t8-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>8 <a class="small"  href=?/cl-s2-d1-t8-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>9 <a class="small"  href=?/cl-s2-d1-t9-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>9 <a class="small"  href=?/cl-s2-d1-t9-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>9 <a class="small"  href=?/cl-s2-d1-t9-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>10 <a class="small"  href=?/cl-s2-d1-t10-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>10 <a class="small"  href=?/cl-s2-d1-t10-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>10 <a class="small"  href=?/cl-s2-d1-t10-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>11 <a class="small"  href=?/cl-s2-d1-t11-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>11 <a class="small"  href=?/cl-s2-d1-t11-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>11 <a class="small"  href=?/cl-s2-d1-t11-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>12 <a class="small"  href=?/cl-s2-d1-t12-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>12 <a class="small"  href=?/cl-s2-d1-t12-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>12 <a class="small"  href=?/cl-s2-d1-t12-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
</div>
<div class='nav__ID'>
    <span>Session 2 Day 1 Before lunch</span>
    <ul>
        <li><a class="small"  href=?/cl-s2-d1-bl-nback1-data>1-Back</a></li>
        <li><a class="small"  href=?/cl-s2-d1-bl-nback2-data>2-Back</a></li>
        <li><a class="small"  href=?/cl-s2-d1-bl-stroop-text-data>Stroop Text</a></li>
        <li><a class="small"  href=?/cl-s2-d1-bl-stroop-colour-data>Stroop Colour</a></li>
        <li><a class="small"  href=?/cl-s2-d1-bl-lct-data>Letter Cancellation Task</a></li>
        <li><a class="small"  href=?/cl-s2-d1-bl-dsst-data>Symbol Digit Modality Test</a></li>
        <li><a class="small"  href=?/cl-s2-d1-bl-mood-data>Mood check (more info needed)</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-s2-d1-bl-bsrt-data>The Buschke Selective Reminding Test</a></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
    <span>Session 2 Day 1 After lunch</span>
    <ul>
        <li><a class="small"  href=?/cl-s2-d1-al-nback1-data>1-Back</a></li>
        <li><a class="small"  href=?/cl-s2-d1-al-nback2-data>2-Back</a></li>
        <li><a class="small"  href=?/cl-s2-d1-al-stroop-text-data>Stroop Text</a></li>
        <li><a class="small"  href=?/cl-s2-d1-al-stroop-colour-data>Stroop Colour</a></li>
        <li><a class="small"  href=?/cl-s2-d1-al-lct-data>Letter Cancellation Task</a></li>
        <li><a class="small"  href=?/cl-s2-d1-al-dsst-data>Symbol Digit Modality Test</a></li>
        <li><a class="small"  href=?/cl-s2-d1-al-mood-data>Mood check (more info needed)</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-s2-d1-al-bsrt-data>The Buschke Selective Reminding Test</a></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
</div>
