<div class='nav__ID'>
    <span>Visit 1 Day 1 Baseline</span>
    <ul>
        <li><a class="small"  href=?/cl-bl-ethnicity-data>Ethnicity</a></li>
        <li><a class="small"  href=?/cl-bl-lifestyle-data>Life Style</a></li>
        <li><a class="small"  href=?/cl-bl-education-data>Education</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-bl-medical-history-data>Medical History</a></li>
        <li><a class="small"  href=?/cl-bl-medication-data>Medication</a></li>
        <li><a class="small"  href=?/cl-bl-ess-data>Epworth Sleepiness Scale</a></li>
        <li><a class="small"  href=?/cl-bl-dass-data>Depression Anxiety Stress Scale</a></li>
        <li><a class="small"  href=?/cl-bl-sf36-data>Short Form Health Survey (SF-36)</a></li>
        <li><a class="small"  href=?/cl-bl-me-data>Horne &amp; &Ouml;stberg Morningness-Eveningness Questionnaire</a></li>
        <li><a class="small"  href=?/cl-bl-hads-data>Hospital Anxiety and Depression Scale (HADS)</a></li>
        <li><a class="small"  href=?/cl-bl-smmse-data>Standardised Mini-Mental State Examination (SMMSE)</a><mark class=text-danger>X</mark></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
    <span>Visit 1 Day 1 PVT</span>
    <ul>
        <li><a class="small"  href=?/cl-v1-d1-t1-pvt-data>PVT 1</a></li>
        <li><a class="small"  href=?/cl-v1-d1-t2-pvt-data>PVT 2</a></li>
        <li><a class="small"  href=?/cl-v1-d1-t3-pvt-data>PVT 3</a></li>
        <li><a class="small"  href=?/cl-v1-d1-t4-pvt-data>PVT 4</a></li>
        <li><a class="small"  href=?/cl-v1-d1-t5-pvt-data>PVT 5</a></li>
        <li><a class="small"  href=?/cl-v1-d1-t6-pvt-data>PVT 6</a></li>
        <li><a class="small"  href=?/cl-v1-d1-t7-pvt-data>PVT 7</a></li>
        <li><a class="small"  href=?/cl-v1-d1-t8-pvt-data>PVT 8</a></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
    <span>Visit 1 Day 1 Time Point 1</span>
    <ul>
        <li><a class="small"  href=?/cl-v1-d1-t1-nback2-data>2-Back</a></li>
        <li><a class="small"  href=?/cl-v1-d1-t1-stroop-text-data>Stroop Text</a></li>
        <li><a class="small"  href=?/cl-v1-d1-t1-stroop-colour-data>Stroop Colour</a></li>
        <li><a class="small"  href=?/cl-v1-d1-t1-lct-data>Letter Cancellation Task</a></li>
        <li><a class="small"  href=?/cl-v1-d1-t1-wpt-data>Word Pair Task</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-v1-d1-t1-ftt-data>Finger Tapping Task</a></li>
        <li><a class="small"  href=?/cl-v1-d1-t1-dsst-data>Symbol Digit Modality Test</a></li>
        <li><a class="small"  href=?/cl-v1-d1-t1-bsrt-data>The Buschke Selective Reminding Test</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-v1-d1-t1-kss-data>Karolinska Sleepiness Scale</a></li>
        <li><a class="small"  href=?/cl-v1-d1-t1-kdt-data>Karolinska Drowsiness Test</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-v1-d1-t1-poms-data>Profile of Mood States</a></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
    <span>Visit 1 Day 1 Time Point 2</span>
    <ul>
        <li><a class="small"  href=?/cl-v1-d1-t2-nback2-data>2-Back</a></li>
        <li><a class="small"  href=?/cl-v1-d1-t2-stroop-text-data>Stroop Text</a></li>
        <li><a class="small"  href=?/cl-v1-d1-t2-stroop-colour-data>Stroop Colour</a></li>
        <li><a class="small"  href=?/cl-v1-d1-t2-lct-data>Letter Cancellation Task</a></li>
        <li><a class="small"  href=?/cl-v1-d1-t2-wpt-data>Word Pair Task</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-v1-d1-t2-ftt-data>Finger Tapping Task</a></li>
        <li><a class="small"  href=?/cl-v1-d1-t2-dsst-data>Symbol Digit Modality Test</a></li>
        <li><a class="small"  href=?/cl-v1-d1-t2-bsrt-data>The Buschke Selective Reminding Test</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-v1-d1-t2-kss-data>Karolinska Sleepiness Scale</a></li>
        <li><a class="small"  href=?/cl-v1-d1-t2-kdt-data>Karolinska Drowsiness Test</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-v1-d1-t2-poms-data>Profile of Mood States</a></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
    <span>Visit 1 Day 2 PVT</span>
    <ul>
        <li><a class="small"  href=?/cl-v1-d2-t1-pvt-data>PVT 1</a></li>
        <li><a class="small"  href=?/cl-v1-d2-t2-pvt-data>PVT 2</a></li>
        <li><a class="small"  href=?/cl-v1-d2-t3-pvt-data>PVT 3</a></li>
        <li><a class="small"  href=?/cl-v1-d2-t4-pvt-data>PVT 4</a></li>
        <li><a class="small"  href=?/cl-v1-d2-t5-pvt-data>PVT 5</a></li>
        <li><a class="small"  href=?/cl-v1-d2-t6-pvt-data>PVT 6</a></li>
        <li><a class="small"  href=?/cl-v1-d2-t7-pvt-data>PVT 7</a></li>
        <li><a class="small"  href=?/cl-v1-d2-t8-pvt-data>PVT 8</a></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
    <span>Visit 1 Day 2 Time Point 1</span>
    <ul>
        <li><a class="small"  href=?/cl-v1-d2-t1-nback2-data>2-Back</a></li>
        <li><a class="small"  href=?/cl-v1-d2-t1-stroop-text-data>Stroop Text</a></li>
        <li><a class="small"  href=?/cl-v1-d2-t1-stroop-colour-data>Stroop Colour</a></li>
        <li><a class="small"  href=?/cl-v1-d2-t1-lct-data>Letter Cancellation Task</a></li>
        <li><a class="small"  href=?/cl-v1-d2-t1-wpt-data>Word Pair Task</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-v1-d2-t1-ftt-data>Finger Tapping Task</a></li>
        <li><a class="small"  href=?/cl-v1-d2-t1-dsst-data>Symbol Digit Modality Test</a></li>
        <li><a class="small"  href=?/cl-v1-d2-t1-bsrt-data>The Buschke Selective Reminding Test</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-v1-d2-t1-kss-data>Karolinska Sleepiness Scale</a></li>
        <li><a class="small"  href=?/cl-v1-d2-t1-kdt-data>Karolinska Drowsiness Test</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-v1-d2-t1-poms-data>Profile of Mood States</a></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
    <span>Visit 1 Day 2 Time Point 2</span>
    <ul>
        <li><a class="small"  href=?/cl-v1-d2-t2-nback2-data>2-Back</a></li>
        <li><a class="small"  href=?/cl-v1-d2-t2-stroop-text-data>Stroop Text</a></li>
        <li><a class="small"  href=?/cl-v1-d2-t2-stroop-colour-data>Stroop Colour</a></li>
        <li><a class="small"  href=?/cl-v1-d2-t2-lct-data>Letter Cancellation Task</a></li>
        <li><a class="small"  href=?/cl-v1-d2-t2-wpt-data>Word Pair Task</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-v1-d2-t2-ftt-data>Finger Tapping Task</a></li>
        <li><a class="small"  href=?/cl-v1-d2-t2-dsst-data>Symbol Digit Modality Test</a></li>
        <li><a class="small"  href=?/cl-v1-d2-t2-bsrt-data>The Buschke Selective Reminding Test</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-v1-d2-t2-kss-data>Karolinska Sleepiness Scale</a></li>
        <li><a class="small"  href=?/cl-v1-d2-t2-kdt-data>Karolinska Drowsiness Test</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-v1-d2-t2-poms-data>Profile of Mood States</a></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
</div>
<div class='nav__ID'>
    <span>Visit 1 Day 3 PVT</span>
    <ul>
        <li><a class="small"  href=?/cl-v1-d3-t1-pvt-data>PVT 1</a></li>
        <li><a class="small"  href=?/cl-v1-d3-t2-pvt-data>PVT 2</a></li>
        <li><a class="small"  href=?/cl-v1-d3-t3-pvt-data>PVT 3</a></li>
        <li><a class="small"  href=?/cl-v1-d3-t4-pvt-data>PVT 4</a></li>
        <li><a class="small"  href=?/cl-v1-d3-t5-pvt-data>PVT 5</a></li>
        <li><a class="small"  href=?/cl-v1-d3-t6-pvt-data>PVT 6</a></li>
        <li><a class="small"  href=?/cl-v1-d3-t7-pvt-data>PVT 7</a></li>
        <li><a class="small"  href=?/cl-v1-d3-t8-pvt-data>PVT 8</a></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
    <span>Visit 1 Day 3 Time Point 1</span>
    <ul>
        <li><a class="small"  href=?/cl-v1-d3-t1-nback2-data>2-Back</a></li>
        <li><a class="small"  href=?/cl-v1-d3-t1-stroop-text-data>Stroop Text</a></li>
        <li><a class="small"  href=?/cl-v1-d3-t1-stroop-colour>-dataStroop Colour</a></li>
        <li><a class="small"  href=?/cl-v1-d3-t1-lct-data>Letter Cancellation Task</a></li>
        <li><a class="small"  href=?/cl-v1-d3-t1-wpt-data>Word Pair Task</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-v1-d3-t1-ftt-data>Finger Tapping Task</a></li>
        <li><a class="small"  href=?/cl-v1-d3-t1-dsst-data>Symbol Digit Modality Test</a></li>
        <li><a class="small"  href=?/cl-v1-d3-t1-bsrt-data>The Buschke Selective Reminding Test</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-v1-d3-t1-kss-data>Karolinska Sleepiness Scale</a></li>
        <li><a class="small"  href=?/cl-v1-d3-t1-kdt-data>Karolinska Drowsiness Test</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-v1-d3-t1-poms-data>Profile of Mood States</a></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
    <span>Visit 1 Day 3 Time Point 2</span>
    <ul>
        <li><a class="small"  href=?/cl-v1-d3-t2-dm-data>Declarative Memory</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-v1-d3-t2-mst-data>Motor Sequency Task</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-v1-d3-t2-dsst-data>Symbol Digit Modality Test</a></li>
        <li><a class="small"  href=?/cl-v1-d3-t2-bsrt-data>The Buschke Selective Reminding Test</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-v1-d3-t2-kss-data>Karolinska Sleepiness Scale</a></li>
        <li><a class="small"  href=?/cl-v1-d3-t2-kdt-data>Karolinska Drowsiness Test</a><mark class=text-danger>X</mark></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
    <span>Visit 1 Day 4 Time Point 1</span>
    <ul>
        <li><a class="small"  href=?/cl-v1-d4-t1-dm-data>Declarative Memory</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-v1-d4-t1-mst-data>Motor Sequency Task</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-v1-d4-t1-dsst-data>Symbol Digit Modality Test</a></li>
        <li><a class="small"  href=?/cl-v1-d4-t1-bsrt-data>The Buschke Selective Reminding Test</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-v1-d4-t1-kss-data>Karolinska Sleepiness Scale</a></li>
        <li><a class="small"  href=?/cl-v1-d4-t1-kdt-data>Karolinska Drowsiness Test</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-v1-d4-t1-pvt-data>PVT</a></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
</div>
<div class='nav__ID'>
    <span>Visit 2 Day 1 PVT</span>
    <ul>
        <li><a class="small"  href=?/cl-v2-d1-t1-pvt-data>PVT 1</a></li>
        <li><a class="small"  href=?/cl-v2-d1-t2-pvt-data>PVT 2</a></li>
        <li><a class="small"  href=?/cl-v2-d1-t3-pvt-data>PVT 3</a></li>
        <li><a class="small"  href=?/cl-v2-d1-t4-pvt-data>PVT 4</a></li>
        <li><a class="small"  href=?/cl-v2-d1-t5-pvt-data>PVT 5</a></li>
        <li><a class="small"  href=?/cl-v2-d1-t6-pvt-data>PVT 6</a></li>
        <li><a class="small"  href=?/cl-v2-d1-t7-pvt-data>PVT 7</a></li>
        <li><a class="small"  href=?/cl-v2-d1-t8-pvt-data>PVT 8</a></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
    <span>Visit 2 Day 1 Time Point 1</span>
    <ul>
        <li><a class="small"  href=?/cl-v2-d1-t1-nback2-data>2-Back</a></li>
        <li><a class="small"  href=?/cl-v2-d1-t1-stroop-text-data>Stroop Text</a></li>
        <li><a class="small"  href=?/cl-v2-d1-t1-stroop-colour-data>Stroop Colour</a></li>
        <li><a class="small"  href=?/cl-v2-d1-t1-lct-data>Letter Cancellation Task</a></li>
        <li><a class="small"  href=?/cl-v2-d1-t1-wpt-data>Word Pair Task</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-v2-d1-t1-ftt-data>Finger Tapping Task</a></li>
        <li><a class="small"  href=?/cl-v2-d1-t1-dsst-data>Symbol Digit Modality Test</a></li>
        <li><a class="small"  href=?/cl-v2-d1-t1-bsrt-data>The Buschke Selective Reminding Test</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-v2-d1-t1-kss-data>Karolinska Sleepiness Scale</a></li>
        <li><a class="small"  href=?/cl-v2-d1-t1-kdt-data>Karolinska Drowsiness Test</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-v2-d1-t1-poms-data>Profile of Mood States</a></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
    <span>Visit 2 Day 1 Time Point 2</span>
    <ul>
        <li><a class="small"  href=?/cl-v2-d1-t2-nback2-data>2-Back</a></li>
        <li><a class="small"  href=?/cl-v2-d1-t2-stroop-text-data>Stroop Text</a></li>
        <li><a class="small"  href=?/cl-v2-d1-t2-stroop-colour-data>Stroop Colour</a></li>
        <li><a class="small"  href=?/cl-v2-d1-t2-lct-data>Letter Cancellation Task</a></li>
        <li><a class="small"  href=?/cl-v2-d1-t2-wpt-data>Word Pair Task</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-v2-d1-t2-ftt-data>Finger Tapping Task</a></li>
        <li><a class="small"  href=?/cl-v2-d1-t2-dsst-data>Symbol Digit Modality Test</a></li>
        <li><a class="small"  href=?/cl-v2-d1-t2-bsrt-data>The Buschke Selective Reminding Test</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-v2-d1-t2-kss-data>Karolinska Sleepiness Scale</a></li>
        <li><a class="small"  href=?/cl-v2-d1-t2-kdt-data>Karolinska Drowsiness Test</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-v2-d1-t2-poms-data>Profile of Mood States</a></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
    <span>Visit 2 Day 2 PVT</span>
    <ul>
        <li><a class="small"  href=?/cl-v2-d2-t1-pvt-data>PVT 1</a></li>
        <li><a class="small"  href=?/cl-v2-d2-t2-pvt-data>PVT 2</a></li>
        <li><a class="small"  href=?/cl-v2-d2-t3-pvt-data>PVT 3</a></li>
        <li><a class="small"  href=?/cl-v2-d2-t4-pvt-data>PVT 4</a></li>
        <li><a class="small"  href=?/cl-v2-d2-t5-pvt-data>PVT 5</a></li>
        <li><a class="small"  href=?/cl-v2-d2-t6-pvt-data>PVT 6</a></li>
        <li><a class="small"  href=?/cl-v2-d2-t7-pvt-data>PVT 7</a></li>
        <li><a class="small"  href=?/cl-v2-d2-t8-pvt-data>PVT 8</a></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
    <span>Visit 2 Day 2 Time Point 1</span>
    <ul>
        <li><a class="small"  href=?/cl-v2-d2-t1-nback2-data>2-Back</a></li>
        <li><a class="small"  href=?/cl-v2-d2-t1-stroop-text-data>Stroop Text</a></li>
        <li><a class="small"  href=?/cl-v2-d2-t1-stroop-colour-data>Stroop Colour</a></li>
        <li><a class="small"  href=?/cl-v2-d2-t1-lct-data>Letter Cancellation Task</a></li>
        <li><a class="small"  href=?/cl-v2-d2-t1-wpt-data>Word Pair Task</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-v2-d2-t1-ftt-data>Finger Tapping Task</a></li>
        <li><a class="small"  href=?/cl-v2-d2-t1-dsst-data>Symbol Digit Modality Test</a></li>
        <li><a class="small"  href=?/cl-v2-d2-t1-bsrt-data>The Buschke Selective Reminding Test</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-v2-d2-t1-kss-data>Karolinska Sleepiness Scale</a></li>
        <li><a class="small"  href=?/cl-v2-d2-t1-kdt-data>Karolinska Drowsiness Test</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-v2-d2-t1-poms-data>Profile of Mood States</a></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
    <span>Visit 2 Day 2 Time Point 2</span>
    <ul>
        <li><a class="small"  href=?/cl-v2-d2-t2-nback2-data>2-Back</a></li>
        <li><a class="small"  href=?/cl-v2-d2-t2-stroop-text-data>Stroop Text</a></li>
        <li><a class="small"  href=?/cl-v2-d2-t2-stroop-colour-data>Stroop Colour</a></li>
        <li><a class="small"  href=?/cl-v2-d2-t2-lct-data>Letter Cancellation Task</a></li>
        <li><a class="small"  href=?/cl-v2-d2-t2-wpt-data>Word Pair Task</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-v2-d2-t2-ftt-data>Finger Tapping Task</a></li>
        <li><a class="small"  href=?/cl-v2-d2-t2-dsst-data>Symbol Digit Modality Test</a></li>
        <li><a class="small"  href=?/cl-v2-d2-t2-bsrt-data>The Buschke Selective Reminding Test</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-v2-d2-t2-kss-data>Karolinska Sleepiness Scale</a></li>
        <li><a class="small"  href=?/cl-v2-d2-t2-kdt-data>Karolinska Drowsiness Test</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-v2-d2-t2-poms-data>Profile of Mood States</a></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
</div>
<div class='nav__ID'>
    <span>Visit 2 Day 3 PVT</span>
    <ul>
        <li><a class="small"  href=?/cl-v2-d3-t1-pvt-data>PVT 1</a></li>
        <li><a class="small"  href=?/cl-v2-d3-t2-pvt-data>PVT 2</a></li>
        <li><a class="small"  href=?/cl-v2-d3-t3-pvt-data>PVT 3</a></li>
        <li><a class="small"  href=?/cl-v2-d3-t4-pvt-data>PVT 4</a></li>
        <li><a class="small"  href=?/cl-v2-d3-t5-pvt-data>PVT 5</a></li>
        <li><a class="small"  href=?/cl-v2-d3-t6-pvt-data>PVT 6</a></li>
        <li><a class="small"  href=?/cl-v2-d3-t7-pvt-data>PVT 7</a></li>
        <li><a class="small"  href=?/cl-v2-d3-t8-pvt-data>PVT 8</a></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
    <span>Visit 2 Day 3 Time Point 1</span>
    <ul>
        <li><a class="small"  href=?/cl-v2-d3-t1-nback2-data>2-Back</a></li>
        <li><a class="small"  href=?/cl-v2-d3-t1-stroop-text-data>Stroop Text</a></li>
        <li><a class="small"  href=?/cl-v2-d3-t1-stroop-colour>-dataStroop Colour</a></li>
        <li><a class="small"  href=?/cl-v2-d3-t1-lct-data>Letter Cancellation Task</a></li>
        <li><a class="small"  href=?/cl-v2-d3-t1-wpt-data>Word Pair Task</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-v2-d3-t1-ftt-data>Finger Tapping Task</a></li>
        <li><a class="small"  href=?/cl-v2-d3-t1-dsst-data>Symbol Digit Modality Test</a></li>
        <li><a class="small"  href=?/cl-v2-d3-t1-bsrt-data>The Buschke Selective Reminding Test</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-v2-d3-t1-kss-data>Karolinska Sleepiness Scale</a></li>
        <li><a class="small"  href=?/cl-v2-d3-t1-kdt-data>Karolinska Drowsiness Test</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-v2-d3-t1-poms-data>Profile of Mood States</a></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
    <span>Visit 2 Day 3 Time Point 2</span>
    <ul>
        <li><a class="small"  href=?/cl-v2-d3-t2-dm-data>Declarative Memory</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-v2-d3-t2-mst-data>Motor Sequency Task</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-v2-d3-t2-dsst-data>Symbol Digit Modality Test</a></li>
        <li><a class="small"  href=?/cl-v2-d3-t2-bsrt-data>The Buschke Selective Reminding Test</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-v2-d3-t2-kss-data>Karolinska Sleepiness Scale</a></li>
        <li><a class="small"  href=?/cl-v2-d3-t2-kdt-data>Karolinska Drowsiness Test</a><mark class=text-danger>X</mark></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
    <span>Visit 2 Day 4 Time Point 1</span>
    <ul>
        <li><a class="small"  href=?/cl-v2-d4-t1-dm-data>Declarative Memory</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-v2-d4-t1-mst-data>Motor Sequency Task</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-v2-d4-t1-dsst-data>Symbol Digit Modality Test</a></li>
        <li><a class="small"  href=?/cl-v2-d4-t1-bsrt-data>The Buschke Selective Reminding Test</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-v2-d4-t1-kss-data>Karolinska Sleepiness Scale</a></li>
        <li><a class="small"  href=?/cl-v2-d4-t1-kdt-data>Karolinska Drowsiness Test</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-v2-d4-t1-pvt-data>PVT</a></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
</div>